:root {
    --bg: #FF5656;
    --bg2: #000000;
    --primary: #8CE4FF;
    --secundary: #FEEE91;
    --accent: #2421c7;

    --text: #db981a;
    --text-claro: #dfa73f;
    --focus: #E491C9;

    --white: #fff;
    --black: #000;

    --border: 1px solid #6ECDF5;
    --shadow: 0 3px 4px #240038;

    font-size: 16px;
}